{% extends "tester_app/base.html" %}

{% block body %}
<div class="container mt-auto">
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5  text-body-emphasis mb-4">О сайте</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Данный сайт является курсовой работой по дисциплине "Python" и представляет собой
                онлайн-платформу тестирования. Используемый технологический стек: Python, Django, Html + CSS.</p>

            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                <a href="/" class="btn btn-primary px-4 gap-3">На главную</a>
                <a href="http://it.bgitu.ru" target="_blank" class="btn btn-outline-secondary px-4">IT
                    БГИТУ</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}