<style>
    .CodeMirror {
    height: auto;
    }
</style>
<label class="form-label">Enter your code:</label>

<div class='border rounded overflow-hidden'>
    <textarea name='code_block' id='code_block'></textarea>
</div>

<label class="form-label mt-4" for="testInput">Test input:</label>
<textarea class="form-control" id="testInput" rows="2" name="test_input">{{data.test_input}}</textarea>

<div class="mt-4">
    <p>Test output:</p>

    {% if result %}
    <code>
        <pre class="m-0" wrap>{{result}}</pre>
    </code>
    {% endif %}

    {% if error %}
    <span class="text-danger">{{error}}</span>
    {% endif %}
</div>
