{% extends "tester_app/base.html" %}

{% block body %}

{% include "tester_app/messages.html" %}

<h3>Class form</h3>
<form method="post">
    {% csrf_token %}
    {{ form.your_name.label }}
    {{ form.your_name }}
    <input type="submit" value="Send" class="btn btn-primary mt-2">
</form>

<h3 class="mt-4">Template form</h3>
<form method="post">
    {% csrf_token %}
    <input class="form-control" placeholder="Enter your name" name="your_name"/>
    <input type="submit" value="Send" class="btn btn-primary mt-2">
</form>
{% endblock %}