{% extends "tester_app/base.html" %}

{% block body %}
<div class="container mb-4">
    <h1 class="mb-4">Доступные тесты</h1>

    <div class="row g-3">
        {% if not data %}
        <p>Нет данных для отображения</p>
        {% else %}
        {% for test in data %}
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{test.name}}</h5>
                    <p class="card-text">{{test.description}}</p>
                    <a href="{{ test.get_absolute_url }}" class="btn btn-primary">Открыть</a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}