{% extends "tester_app/base.html" %}
{% load static %}

{% block body %}
<div class="container mt-auto">
    <div class="col-md-12 d-flex mx-auto rounded border">
        <div class="col-md-6 p-5 bg-white rounded-start d-flex align-items-center login-page-aside">
            <img src="{% static 'tester_app/media/sign-up_image.jpg' %}" class="img-fluid">
        </div>
        <form class="col-md d-flex justify-content-center align-items-center m-5 login-page" method="POST">
            {% csrf_token %}
            <div class="row gy-3">
                <h3>Регистрация</h3>
                {% include "tester_app/messages.html" %}
                <div class="col-md-6">
                    <label for="{{signup_form.lastname.id_for_label }}" class="form-label">
                        {{signup_form.lastname.label}}
                    </label>
                    {{signup_form.lastname}}
                </div>
                <div class="col-md-6">
                    <label for="{{signup_form.firstname.id_for_label }}" class="form-label">
                        {{signup_form.firstname.label}}
                    </label>
                    {{signup_form.firstname}}
                </div>

                <div class="col-md-12">
                    <label for="{{signup_form.login.id_for_label }}" class="form-label">
                        {{signup_form.login.label}}
                    </label>
                    {{signup_form.login}}
                </div>

                <div class="col-md-12">
                    <label for="{{signup_form.email.id_for_label }}" class="form-label">
                        {{signup_form.email.label}}
                    </label>
                    {{signup_form.email}}
                </div>

                <div class="col-md-6">
                    <label for="{{signup_form.password1.id_for_label }}" class="form-label">
                        {{signup_form.password1.label}}
                    </label>
                    {{signup_form.password1}}
                </div>

                <div class="col-md-6 mb-2">
                    <label for="{{signup_form.password2.id_for_label }}" class="form-label">
                        {{signup_form.password2.label}}
                    </label>
                    {{signup_form.password2}}
                </div>

                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
                </div>
                <p><a href="{% url 'index' %}" class="text-decoration-none">Назад</a></p>
            </div>
        </form>
    </div>
</div>
{% endblock %}