@font-face {
    font-family: 'Arcade Classic';
    src: url("../fonts/ARCADECLASSIC.TTF");
}

body, html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}